<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>
<mat-toolbar color="primary" role="heading">
    <span>  Herolo Cinema </span>
  </mat-toolbar>

<router-outlet></router-outlet>


