
<!--<button class="btn btn-primary" (click)="testIt()">Test</button>-->
<div class="alert alert-success " role="alert" [hidden]="alertShow" #aletDiv>
  <div [innerHTML]="msg"></div>
</div>

<mat-toolbar color="secondary" class="toolbar" fxLayoutGap="10px">
  <h2>Movies List</h2>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
   

    <i class="material-icons" (click)="addNewMovie()">
      playlist_add
    </i>
  </div>
</mat-toolbar>

<section fxLayout="column" fxLayoutGap="7px" >
  <mat-card *ngFor="let movie of listOfMovies" class="card" fxFlexAlign="center" >
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{
          'background-image':'url('+movie.Poster+')',
          'background-size': 'cover'
        }">
      </div>
      <mat-card-title> {{movie.Title | titlecase | myCustomPipe}}</mat-card-title>
      <mat-card-subtitle>
        {{movie.Year}} | {{movie.Runtime}} | {{movie.Genre}} | {{movie.Director}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{movie.Plot}}
      </p>
    </mat-card-content>
    <mat-card-actions class="button-row" fxLayoutAlign="flex-end">

      <i class="material-icons" (click)="editMovie(movie)">
        edit
      </i>
      <i class="material-icons" (click)="deleteMovie(movie)">
        delete
      </i>

    </mat-card-actions>
  </mat-card>
</section>

