/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
    TODO:
    maybe in future to change the theme.. 
 */

 html,body {
     font-family: 'Roboto', sans-serif;

 }

 body {
     margin: 0;
 }